@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap";

:root {
    --color-purple: #8257E5;
    --color-rocket: #7159c1 ;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-purple);
    transition: 200ms;
    text-decoration: underline;
}

.wrapper {
    text-align: center;
    padding-top: 8px;
}

.wrapper img {
    border-radius: 50%;
    height: 200px;   
    border: 3px solid var(--color-purple);
    margin-bottom: 32px;
}

.wrapper h1 {
    font-size: 34px;
    line-height: 40px;
    font-weight: bold;
}

.wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.9;

}

.wrapper h2 a {
    color: var(--color-purple);
}

.wrapper p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 20px;
    line-height:  34px;
}

.wrapper li {
    max-width: 410px;
    margin: 16px auto;
    font-size: 20px;
    line-height:  34px;
}

hr {
    border: 1px solid gray;
    max-width: 500px;
    margin: 16px auto;
}

#links-footer a{
    border-bottom: 1px solid var(--color-purple);
}

#links-footer h2{
    padding-top: 16px;
    padding-bottom: 16px;
}

#courseTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    margin-top: 16px;
    /* margin-bottom: 16px; */
  }
  
  #courseTable td, #courseTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  courseTable
  #courseTable tr:hover {background-color: #ddd;}
  
  #courseTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--color-purple);
    color: white;
  }